CONFIG_IDF_TARGET="esp32c2"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_SINGLE_APP=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y
CONFIG_LWIP_IPV6=y


# Bootloader config
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_BOOTLOADER_SKIP_VALIDATE_IN_DEEP_SLEEP=y
CONFIG_BOOTLOADER_SKIP_VALIDATE_ON_POWER_ON=y
CONFIG_BOOTLOADER_SKIP_VALIDATE_ALWAYS=y

# ESP RainMaker App Wi-Fi Provisioning
CONFIG_APP_WIFI_PROV_SHOW_QR=n
CONFIG_APP_WIFI_PROV_TIMEOUT_PERIOD=30

#
# ESP RainMaker Config
#
CONFIG_ESP_RMAKER_NO_CLAIM=y
CONFIG_ESP_RMAKER_CLAIM_TYPE=0
CONFIG_ESP_RMAKER_MAX_PARAM_DATA_SIZE=1024
# CONFIG_ESP_RMAKER_DISABLE_USER_MAPPING_PROV is not set
CONFIG_ESP_RMAKER_USER_ID_CHECK=y
# CONFIG_RMAKER_NAME_PARAM_CB is not set
CONFIG_ESP_RMAKER_LOCAL_CTRL_ENABLE=y
CONFIG_ESP_RMAKER_LOCAL_CTRL_HTTP_PORT=8080
CONFIG_ESP_RMAKER_LOCAL_CTRL_SECURITY_0=y
# CONFIG_ESP_RMAKER_LOCAL_CTRL_SECURITY_1 is not set
CONFIG_ESP_RMAKER_LOCAL_CTRL_SECURITY=0
CONFIG_ESP_RMAKER_CONSOLE_UART_NUM_0=y
# CONFIG_ESP_RMAKER_CONSOLE_UART_NUM_1 is not set
CONFIG_ESP_RMAKER_CONSOLE_UART_NUM=0
CONFIG_ESP_RMAKER_USE_CERT_BUNDLE=y

#
# ESP RainMaker App Wi-Fi Provisioning
#
# CONFIG_APP_WIFI_PROV_SHOW_QR is not set
# CONFIG_APP_WIFI_PROV_TRANSPORT_SOFTAP is not set
CONFIG_APP_WIFI_PROV_TRANSPORT_BLE=y
CONFIG_APP_WIFI_PROV_TRANSPORT=2
CONFIG_APP_WIFI_RESET_PROV_ON_FAILURE=y
CONFIG_APP_WIFI_PROV_MAX_RETRY_CNT=5
# CONFIG_APP_WIFI_SHOW_DEMO_INTRO_TEXT is not set
CONFIG_APP_WIFI_PROV_TIMEOUT_PERIOD=30
CONFIG_APP_WIFI_PROV_NAME_PREFIX="PROV"
# end of ESP RainMaker App Wi-Fi Provisioning

# mbedtls
CONFIG_MBEDTLS_DYNAMIC_BUFFER=y
CONFIG_MBEDTLS_DYNAMIC_FREE_PEER_CERT=y
CONFIG_MBEDTLS_DYNAMIC_FREE_CONFIG_DATA=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_CMN=y
CONFIG_MBEDTLS_TLS_CLIENT_ONLY=y

CONFIG_BT_ENABLED=y
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_SM_SC=y
CONFIG_BT_NIMBLE_SM_SC_DEBUG_KEYS=y
CONFIG_BT_NIMBLE_LL_CFG_FEAT_LE_ENCRYPTION=n
CONFIG_BT_NIMBLE_SM_LEGACY=n

# Temporary Fix for Timer Overflows
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=3120

# For additional security on reset to factory
CONFIG_ESP_RMAKER_USER_ID_CHECK=y



# Application Rollback
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y

CONFIG_WIFI_PROV_BLE_BONDING=n
CONFIG_WIFI_PROV_BLE_SEC_CONN=n
CONFIG_WIFI_PROV_BLE_FORCE_ENCRYPTION=n
CONFIG_WIFI_PROV_KEEP_BLE_ON_AFTER_PROV=n
CONFIG_WIFI_PROV_DISCONNECT_AFTER_PROV=y
CONFIG_ESP_RMAKER_CMD_RESP_ENABLE=n


CONFIG_BT_BLE_BLUFI_ENABLE=y
# CONFIG_BT_GATTC_ENABLE is not set
# CONFIG_BT_BLE_SMP_ENABLE is not set
# CONFIG_BT_BLE_50_FEATURES_SUPPORTED is not set
CONFIG_BT_BLE_42_FEATURES_SUPPORTED=y
CONFIG_MBEDTLS_DHM_C=y

#
# Wi-Fi
#
CONFIG_ESP32_WIFI_SW_COEXIST_ENABLE=y
CONFIG_ESP32_WIFI_STATIC_RX_BUFFER_NUM=3
CONFIG_ESP32_WIFI_DYNAMIC_RX_BUFFER_NUM=6
CONFIG_ESP32_WIFI_DYNAMIC_TX_BUFFER=y
CONFIG_ESP32_WIFI_TX_BUFFER_TYPE=1
CONFIG_ESP32_WIFI_DYNAMIC_TX_BUFFER_NUM=6
CONFIG_ESP32_WIFI_AMPDU_TX_ENABLED=y
CONFIG_ESP32_WIFI_TX_BA_WIN=6
CONFIG_ESP32_WIFI_AMPDU_RX_ENABLED=y
CONFIG_ESP32_WIFI_RX_BA_WIN=6
CONFIG_ESP32_WIFI_NVS_ENABLED=y
CONFIG_ESP32_WIFI_MGMT_SBUF_NUM=6
CONFIG_ESP32_WIFI_RX_IRAM_OPT=n
CONFIG_ESP32_WIFI_IRAM_OPT=n

#
# LWIP
#
CONFIG_LWIP_IP4_FRAG=y
CONFIG_LWIP_IP6_FRAG=y
CONFIG_LWIP_IP4_REASSEMBLY=y
CONFIG_LWIP_IP6_REASSEMBLY=y
CONFIG_LWIP_TCPIP_RECVMBOX_SIZE=16
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=6000
CONFIG_LWIP_TCP_WND_DEFAULT=6000
CONFIG_LWIP_TCP_RECVMBOX_SIZE=16
CONFIG_LWIP_UDP_RECVMBOX_SIZE=16
CONFIG_LWIP_IRAM_OPTIMIZATION=n

#
# SPI Flash driver
#
CONFIG_SPI_FLASH_ROM_DRIVER_PATCH=y
CONFIG_SPI_FLASH_ROM_IMPL=y

#
# Heap memory debugging
#
CONFIG_HEAP_ROM_IMPL=y
